<div class="flex flex-col justify-center object-center h-full w-full py-16 px-4">
    <div class="flex flex-col items-center justify-center">
       <%= image_tag "expenzen-icon.svg", class:"w-14 mb-10" %>

       <h2 class="font-bold text-slate-950 dark:text-gray-200 text-2xl">Sign in to your account</h2>
        <div class="card w-96 dark:bg-slate-900 p-12 mt-10">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= render "devise/shared/flash_error" %>

                <div>
                  <%= f.label :email, 'Email address', class:"text-sm font-medium leading-none text-gray-800 dark:text-gray-200" %>
                  <div class="mt-2">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'example@example.com' ,class:"input input-bordered w-full max-w-xs" %>
                  </div>
                </div>

                <div class="mt-6">
                  <%= f.label :password, class:"text-sm font-medium leading-none text-gray-800 dark:text-gray-200"  %>
                   <div class="mt-2">
                     <%= f.password_field :password, autocomplete: "current-password", placeholder: '******', class:"input input-bordered w-full max-w-xs" %>
                  </div>
                </div>

                <div class=" flex justify-between items-center mt-6">
                  <div class="flex items-center">
                    <%= f.check_box :remember_me, class: "checkbox checkbox-primary w-5 h-5" %>
                    <%= f.label :remember_me, class: "text-sm dark:text-gray-200 cursor-pointer label ml-2" %>
                  </div>
                  <div class="forgot-password-field">
                    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                      <%= link_to "Forgot password?", new_password_path(resource_name), class: "text-sm text-indigo-600 font-semibold" %>
                    <% end %>
                  </div>
                </div>

                <div class="actions mt-6">
                  <%= f.submit "Sign in", class:"btn btn-primary text-white w-full" %>
                </div>
              <% end %>
        </div>

        <div class="text-gray-500 text-sm mt-10">
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              Not a member? <%= link_to "Let's create one!", new_registration_path(resource_name), class: "text-indigo-600 font-semibold" %>
            <% end %>
        </div>
    </div>
</div>
