<!DOCTYPE html>
<html>
  <head>
    <title>ExpenZen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag "application.tsx" %>

  </head>

  <body class="flex flex-col md:flex-row h-screen text-gray-800">
    <%= yield %>
  </body>
</html>
